.blocProductByLatestProduct {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.imgContainerByLatestProduct {
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden;
}

.pictureProductByLatestProduct {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productNameByLatestProduct {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  margin-top: 2vh;
  font-weight: bold;
}

.conditionProductByLatestProduct {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
}

.pseudoByLatestProduct {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  margin-bottom: 2vh;
  align-items: center;
  height: 100%;
}

.blocProfileByLatestProduct {
  display: flex;
  margin-bottom: 2vh;
  gap: 1vh;
  flex-wrap: wrap;
}

.pictureProfileContainerByLatestProduct {
  position: relative;
  width: 5vh;
  height: 5vh;
  overflow: hidden;
}

.pictureProfileByLatestProduct {
  border-radius: 50%;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 769px) {
  .blocProductByLatestProduct {
    display: flex;
    flex-direction: column;
    width: 40vh;
    height: 50vh;
    margin-bottom: 5vh;
    white-space: normal;
  }

  .imgContainerByLatestProduct {
    position: relative;
    width: 30vh;
    height: 30vh;
    overflow: hidden;
  }

  .pictureProductByLatestProduct {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .productNameByLatestProduct {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-top: 2vh;
  }

  .conditionProductByLatestProduct {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
  }

  .locationByLatestProduct {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
  }

  .pseudoByLatestProduct {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    height: 100%;
  }

  .blocProfileByLatestProduct {
    display: flex;
    gap: 2vh;
    align-items: flex-start;
    height: 5vh;
  }

  .pictureProfileContainerByLatestProduct {
    position: relative;
    width: 5vh;
    height: 100%;
    overflow: hidden;
  }

  .pictureProfileByLatestProduct {
    border-radius: 50%;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
