.blocProductByCategory {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.imgContainerByCategory {
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden;
}

.productPictureByCategory {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgContainerForAllProducts {
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden;
}

.pictureProductForAllProducts {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productNameByCategory {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  margin-top: 2vh;
  font-weight: bold;
}

.conditionProductByCategory {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
}

.pseudoByCategory {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  margin-bottom: 2vh;
  align-items: center;
  height: 100%;
}

.blocProfileByCategory {
  display: flex;
  margin-bottom: 2vh;
  gap: 1vh;
  flex-wrap: wrap;
}

.imageProfileContainerByCategory {
  position: relative;
  width: 5vh;
  height: 5vh;
  overflow: hidden;
}

.pictureProfileByCategory {
  border-radius: 50%;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.linkProdCategory {
  color: inherit;
}

@media only screen and (min-width: 769px) {
  .blocProductByCategory {
    display: inline-block;
    flex-direction: column;
    width: 40vh;
    height: 50vh;
    margin-bottom: 5vh;
    white-space: normal;
    flex-wrap: wrap;
  }

  .imgContainerByCategory {
    position: relative;
    width: 30vh;
    height: 30vh;
    overflow: hidden;
  }

  .pictureProductByCategory {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .productNameByCategory {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-top: 2vh;
  }

  .conditionProductByCategory {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
  }

  .pseudoByCategory {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    height: 100%;
  }

  .blocProfileByCategory {
    display: flex;
    gap: 2vh;
    align-items: flex-start;
    height: 5vh;
  }

  .imageProfileContainerByCategory {
    position: relative;
    width: 5vh;
    height: 100%;
    overflow: hidden;
  }

  .pictureProfileByCategory {
    border-radius: 50%;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .linkProdCategory {
    color: inherit;
  }
}
