.SearchBarContainer {
  background-color: #f7f7f7;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2.5vh;
  padding-bottom: 2vh;
}

.search {
  width: 100%;
  display: flex;
  position: relative;
  bottom: 1px;
}

.searchTerm {
  width: 100%;
  border: 2px solid black;
  padding: 5px;
  height: 5vh;
  border-radius: 20px;
  box-shadow: 1px 2px 2px 2px rgba(54, 54, 54, 0.2);
  font-size: 1rem;
}

.searchTerm:focus {
  outline: none;
}

input::placeholder {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: rgb(163, 163, 163);
  padding-left: 1vh;
  font-style: italic;
}

.wrap {
  width: 100%;
  top: 50%;
  left: 50%;
}

.searchButton {
  display: none;
  margin-left: 2vh;
  border: none;
  background-color: #f7f7f7;
}

@media only screen and (min-width: 769px) {
  .SearchBarContainer {
    padding-left: 0;
    padding-right: 0;
    padding-top: 2.5vh;
    padding-bottom: 2vh;
    width: 30vh;
    display: flex;
  }

  .searchTerm {
    width: 100%;
    border: solid thin rgb(163, 163, 163);
    padding: 5px;
    height: 5vh;
    border-radius: 20px;
    color: black;
    box-shadow: 1px 1px 1px 1px rgba(54, 54, 54, 0.2);
  }

  input::placeholder {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(163, 163, 163);
    padding-left: 2vh;
    font-style: italic;
  }

  .searchButton {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .SearchBarContainer {
    padding-left: 0;
    padding-right: 0;
    padding-top: 2.5vh;
    padding-bottom: 2vh;
    width: 50vh;
    max-width: 150vh;
  }
}
