/* react library */
.Larger {
  font-size: 1.2rem;
}

.screenReaders {
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#buttonStar {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 5px;
  font-size: 2rem;
  color: white;
}

/* react library */
.rate-value-full::before,
.rate-value-half::before,
.rate-value-empty::before {
  content: "★";
  color: gold;
}

#buttonStar {
  margin: 0 2px;
  font-size: 1.7rem;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 10px 30px;
  position: relative;
  right: 10px;
}

.profileImgContainer {
  width: 120px;
  height: 120px;
}

.profileImg {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 10px;
  position: relative;
  top: 45px;
  right: 10px;
}

.profileHeader {
  display: flex;
  font-family: var(--font);
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2vh;
  gap: 40px;
}

#buttonModif {
  background-color: #00c3e3;
  font-family: var(--font);
  padding: 9px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 3%;
  font-size: 1.2rem;
  color: white;
  border: none;
  width: 12rem;
  height: 3.5rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
}

#buttonModif:hover {
  background-color: var(--hover-blue);
}

.blocProductForProfilePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.imgContainerForProfilePage {
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden;
}

.pictureProductForProfilePage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categoryProductForProfilePage {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6rem;
  font-weight: bolder;
  margin-bottom: 1vh;
}

.productNameForProfilePage {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
}

.conditionProductForProfilePage {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6rem;
}

.blocProfilePage {
  display: flex;
  margin-bottom: 2vh;
  gap: 1vh;
  flex-wrap: wrap;
}

.latestProductContainerForProfilePage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4vh;
  margin: 0 auto 5vh auto;
  padding: 0 4vh;
}
@media only screen and (min-width: 769px) {
  /* react library */
  .Five-Rate-Active {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* react library */
  .Larger {
    font-size: 1.5rem;
  }

  .screenReaders {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  #buttonStar {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 5px;
    font-size: 2rem;
    color: white;
  }

  .rate-value-full::before,
  .rate-value-half::before,
  .rate-value-empty::before {
    content: "★";
    color: gold;
  }

  .Cate-value-empty::before {
    color: lightgray;
  }

  #buttonStar {
    font-family: var(--font);
    border-radius: 17px;
    cursor: pointer;
    margin-top: 0px;
  }

  .Custom-button:hover {
    background-color: #00c3e3;
  }

  .profileDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profileImgContainer {
    width: 200px;
    height: 200px;
  }

  .profileImg {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    top: 0px;
  }

  .profileHeader {
    display: flex;
    align-items: flex-start;
    margin: 2.5rem;
    gap: 60px;
  }

  #buttonModif {
    background-color: #00c3e3;
    font-family: var(--font);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.2rem;
    color: white;
    border-color: white;
    width: 16rem;
    height: 3.7rem;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
  }

  #btn {
    color: var(--main-blue);
  }

  /* VITRINE  */

  .latestProductContainerForProfilePage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4vh;
    margin: 6vh auto 14vh 10vh;
    padding: 0 4vh;
  }

  .blocProductForProfilePage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .pictureProductForProfilePage {
    display: block;
    width: 88%;
    height: 14rem;
    object-fit: cover;
    cursor: pointer;
  }

  .productNameForProfilePage {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }

  .conditionProductForProfilePage {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
  }

  .imgContainerForProfilePage {
    position: relative;
    width: 100%;
    height: 36vh;
    overflow: hidden;
  }

  .categoryProductForProfilePage {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
    margin-bottom: 1vh;
  }

  /* Modal */
  .modalProfile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .modalcontentProfile {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    height: 75%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }

  .confirmationBtn {
    display: flex;
    width: 18rem;
    padding: 0.8rem;
    background-color: #00c3e3;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    justify-content: center;
    font-family: var(--font);
    font-size: 20px;
  }

  .saveBtn:hover {
    background-color: #00c3e3;
  }

  /* Form */
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
