.Five-Rate-Active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.Larger {
  font-size: 1.5rem;
}

.screenReaders {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 5px;
  font-size: 2rem;
}

.Rate-value-full::before,
.Rate-value-half::before,
.Rate-value-empty::before {
  content: "★";
  color: gold;
}

.Cate-value-empty::before {
  color: lightgray;
}

@media (max-width: 600px) {
  .Larger {
    font-size: 1.2rem;
  }

  Button {
    margin: 0 2px;
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .Larger {
    font-size: 1rem;
  }

  Button {
    margin: 0 1px;
    font-size: 1.2rem;
  }
}

.Button {
  font-family: var(--font);
  background-color: #00c3e3;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 17px;
  cursor: pointer;
  margin-top: 10px;
}

.Custom-button:hover {
  background-color: #0056b3;
}

.ProfilDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProfilContainer {
  display: flex;
}
