/* MOBILE  FIRST */

.sectionForm {
  background-color: #f7f7f7;
  margin: auto auto;
  padding-top: 2rem;
  padding-bottom: 8rem;
  font-family: Helvetica, sans-serif;
}

.form {
  background-color: #ffffff;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgb(163 159 159);
  width: 100%;
  max-width: 19rem;
  text-align: center;
}

.titleRegister {
  margin-bottom: 2rem;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

.form > div {
  margin-bottom: 35px;
}

.inputForm {
  width: 100%;
  padding: 10px;
  border: 1px solid #a4a4a4;
  border-radius: 20px;
  box-sizing: border-box;
  font-style: italic;
}
.inputForm:focus {
  outline: none;
  border: solid thin #00c3e3;
  box-shadow: inset gray 0px 0px 4px -1px;
}
.inputForm::placeholder {
  color: rgb(169, 169, 169);
}
.buttonSubmit {
  width: 60%;
  padding: 10px;
  border: none;
  border-radius: 25px;
  background-color: #00c3e3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
  transition: background-color 0.3s ease 0s;
}

.buttonSubmit:hover {
  background-color: #0093aa;
}

@media only screen and (min-width: 768px) {
  .sectionForm {
    background-color: #f7f7f7;
    margin: auto auto;
    padding-top: 2rem;
    padding-bottom: 10rem;
    font-family: Helvetica, sans-serif;
  }

  .form {
    background-color: #ffffff;
    padding: 3rem;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 50%;
    text-align: center;
  }
}
