.containerNavBar {
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  font-family: (Arial, Helvetica, sans-serif);
  padding-top: 10px;
  padding-right: 10px;
}

.logo {
  width: 12vh;
}

.user {
  width: 4vh;
  height: 4vh;
  align-self: center;
}

.instruction-presentation {
  display: none;
}
.instruction {
  display: none;
}

.presentation {
  display: none;
}

.searchBarMobile {
  display: block;
}

.searchBarDesktop {
  display: none;
}

.user-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: inline-block;
}

.user-button img {
  display: block;
}
.pictureProfileConnected {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  object-fit: cover;
}
@media only screen and (min-width: 769px) {
  .containerNavBar {
    padding-bottom: 2vh;
    padding-left: 1vh;
  }

  .instruction {
    display: inline;
    justify-content: space-between;
    margin-right: 2vh;
  }

  .instruction-presentation {
    display: flex;
    align-self: center;
    font-weight: bold;
    font-size: 20px;
  }

  .presentation {
    display: inline;
    align-self: center;
    color: #00c3e3;
  }

  .import {
    display: none;
  }

  .searchBarMobile {
    display: none;
  }

  .searchBarDesktop {
    display: inline;
  }

  .pictureProfileConnected {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    object-fit: cover;
  }
}
